.UserHomePage {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background: radial-gradient(circle at 20% 20%, rgba(173, 216, 230, 0.6), transparent 60%),
        /* Light Blue */
        radial-gradient(circle at 80% 20%, rgba(135, 206, 235, 0.6), transparent 60%),
        /* Sky Blue */
        radial-gradient(circle at 20% 80%, rgba(100, 149, 237, 0.6), transparent 60%),
        /* Cornflower Blue */
        radial-gradient(circle at 80% 80%, rgba(123, 104, 238, 0.6), transparent 60%);
    /* Medium Slate Blue */
    background-size: 200% 200%;
    animation: ambientBubbleShift 12s ease infinite;

    @keyframes ambientBubbleShift {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .NavigationBarContainer {
        flex: 0 0 auto;
        border-bottom: 1px solid gray;
    }

    .PageWrapper {
        flex: 1 1 auto;
    }
}
