.NavBar {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


.TitleContainer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.TitleBox {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1.5rem;
}

.Title {
    font-style: inherit;
}

.Greeting {
    font-size: 1rem;
    font-style: italic;
}

.Actions {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.ActionLink {
    flex: 0 1 auto;
    text-decoration: none;
    transition: color 0.2s;
    background-color: inherit;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 12px;

    &:hover {
        text-shadow: 0 0 1px gray;
    }
}

button.ActionLink {
    @extend .ActionLink;
    flex: 0 1 150px;
    padding: 6px;
    border: none;
    background-color: rgba(100, 100, 250);
    color: whitesmoke;
    border-radius: 8px;

    &:hover {
        box-shadow: 0 0 2px gray;
    }
}

/* Mobile Styling */
@media (max-width: 768px) {
    .NavBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .TitleContainer {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .Actions {
        width: 100%;
        justify-content: space-around;
        margin-top: 1rem;
    }

    .ActionLink {
        font-size: 0.9rem;
        margin-left: 0;
    }
}
