.NavBar {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .TitleContainer {
        padding: 1rem;
        flex: 0 1 auto;
        display: flex;
        flex-flow: column nowrap;
        width: 200px;
        align-items: center;

        .TitleBox {
            font-size: 1.5rem;
            font-weight: bold;
            margin-right: 1.5rem;

            .Title {
                font-style: inherit;
            }

        }
    }

    .Actions {
        flex: 1 1 auto;
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        .ActionsGroup {
            display: flex;
            flex-flow: column nowrap;
            align-items: end;
            gap: 4px;

            .ActionLink {
                flex: 1 1 auto;
                text-decoration: none;
                transition: color 0.2s;
                background-color: inherit;
                cursor: pointer;
                font-size: 12px;
                padding: 6px 12px;
                width: 100%;
                color: inherit;
                border: none;
                outline: none;
                transition: all ease-in-out 500ms 300ms;
                text-align: left;
                text-transform: capitalize;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 8px;

                &:hover {
                    width: 95%;
                }

                .ActionBtnIcon {
                    height: 1.5rem;
                }

                .ActionBtnText {
                    flex: 1 1 auto;
                }
            }
        }

    }
}

/* Mobile Styling */
@media (max-width: 768px) {
    .NavBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        .TitleContainer {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        .Actions {
            width: 100%;
            justify-content: space-around;
            margin-top: 1rem;

            .ActionsGroup {
                .ActionLink {
                    font-size: 0.9rem;
                    margin-left: 0;
                }
            }

        }
    }


}
