.NewProject {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    .NewProjectContainer {
        border: 1px solid lightgray;
        padding: 24px;
        border-radius: 12px;
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        backdrop-filter: blur(72px);

        .Title {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        .Error {
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: red;
        }

        .Form {
            display: flex;
            flex-flow: column nowrap;
            gap: 12px;

            .FormGroup {
                flex: 0 1 auto;
                display: flex;
                flex-flow: row nowrap;
                gap: 8px;

                .Label {
                    flex: 1 1 30%;
                    font-size: 12px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                }

                .InputField {
                    flex: 10 1 70%;
                    resize: none;
                    border: 1px solid gray;
                    outline: none;
                    padding: 8px;
                    border-radius: 8px;
                    min-width: 300px;
                }

                textarea.InputField {
                    min-height: 5em;

                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #888;
                        border-radius: 8px;
                    }
                }
            }

            .SubmitButton {
                flex: 0 0 auto;
                display: inline-block;
                padding: 6px 12px;
                font-size: 12px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                text-decoration: none;
                text-align: center;
                transition: background-color 0.3s, box-shadow 0.3s;

                &:hover {
                    background-color: #0056b3;
                    box-shadow: 0 0 4px gray;
                }
            }
        }
    }

    .TimestampsContainer {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;

        .Title {
            flex: 0 0 auto;
            font-size: 18px;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .VideoPlayer {
            flex: 1 1 auto;
            max-height: 300px;
            width: 100%;
            padding: 0 12px;
        }

        .SelectButton {
            flex: 0 0 auto;
            border-radius: 1em;
            padding: 6px;
            border: 1px solid gray;
            cursor: pointer;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: 0 0 6px gray;
            }
        }

        .TimestampList {
            flex: 1 1 auto;
            padding: 12px;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            gap: 12px;
            max-width: 600px;
            max-height: 100px;
            overflow: auto;

            .TimeStampItem {
                flex: 0 1 100px;
                border: 1px solid gray;
                border-radius: 8px;
                padding: 0 6px;
                text-align: center;
            }
        }

        .FinalizeButton {
            @extend .SelectButton;
        }
    }

    .PointSelectionContainer {
        position: relative;

        .Title {
            margin: 0;
            padding-inline: 6px 0;
        }

        .ActionDescription {
            margin: 0;
            padding: 4px;
        }

        .TimestampList {
            display: flex;
            flex-flow: row nowrap;
            list-style: decimal-leading-zero;
            margin: 0;
            gap: 36px;
        }

        .CurrentTimeStampSelected {
            display: flex;
            padding: 4px 12px;
        }

        .VideoPlayer {
            max-height: 500px;
        }

        .PointsList {
            margin: 0 0 0 12px;
            padding: 0;
            display: flex;
            flex-flow: row nowrap;
            gap: 48px;
            list-style: decimal;
        }

        .FinalizeButton {
            position: absolute;
            top: 0;
            right: 0;
            padding: 6px;
            border-radius: 6px;
            border: 1px solid gray;
            outline: none;
            background: whitesmoke;
            cursor: pointer;
        }
    }
}
